/* styles.css */

/* App styles */
.App {
  font-family: Arial, sans-serif;
}

.Title{
  text-align: center;
}

.ResetButton {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: absolute;
  right: 400px; 
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.ResetButton:hover,
.ResetButton:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.ResetButton:hover {
  transform: translateY(-1px);
}

.ResetButton:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}


.SortAndReset {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}

/* FilterControls styles */
.FilterControls {
  margin-bottom: 20px;
}

/* SortControls styles */
.SortControls {
  margin-bottom: 20px;
}

/* ItemList styles */
.ItemList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* ItemCard styles */
.ItemCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
}

.ItemCard img {
  max-width: 100%;
  height: auto;
}

.ItemCard h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.ItemCard p {
  margin-top: 0;
  margin-bottom: 10px;
}


.ItemCard button {
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.ItemCard button:hover,
.ItemCard button:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.ItemCard button:hover {
  transform: translateY(-1px);
}

.ItemCard button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

/* Aggregator styles */
.Aggregator {
  margin-top: 20px;
}

.Aggregator ul {
  list-style-type: none;
  padding: 0;
}

.Aggregator li {
  margin-bottom: 5px;
}

.MainContent {
  display: flex;
}

.ItemListContainer {
  flex: 1;
}

.FavoritesTitle {
  position: sticky;
  top: 0;
  background-color: #fff; 
  padding: 10px 0;
  margin-bottom: 10px;
  padding-right: 225px;
}
.FavoritesList {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Adjust width as needed */
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

