/* styles.css */

/* App styles */
.App {
  font-family: Arial, sans-serif;
}

.ResetButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  
}

.ResetButton:hover {
  background-color: #0056b3;
}
.SortAndReset {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-bottom: 20px;
}

/* FilterControls styles */
.FilterControls {
  margin-bottom: 20px;
}

/* SortControls styles */
.SortControls {
  margin-bottom: 20px;
}

/* ItemList styles */
.ItemList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* ItemCard styles */
.ItemCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
}

.ItemCard img {
  max-width: 100%;
  height: auto;
}

.ItemCard h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.ItemCard p {
  margin-top: 0;
  margin-bottom: 10px;
}

.ItemCard button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

.ItemCard button:hover {
  background-color: #0056b3;
}

/* Aggregator styles */
.Aggregator {
  margin-top: 20px;
}

.Aggregator ul {
  list-style-type: none;
  padding: 0;
}

.Aggregator li {
  margin-bottom: 5px;
}

.MainContent {
  display: flex;
}

.ItemListContainer {
  flex: 1;
}

.FavoritesTitle {
  position: sticky;
  top: 0;
  background-color: #fff; /* Ensure the title appears above the list */
  padding: 10px 0;
  margin-bottom: 10px;
}
.FavoritesList {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Adjust width as needed */
  height: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-right: 20px;
}

